.img {
    margin: 10px;
}
.carta {
    background-color: gray;
}
label {
    color: #FDFCFC;
}
div {
    color: #FDFCFC;
}
html {
    overflow-x: scroll;
}
th {
    color: #FDFCFC;
}
td {
    color: #FDFCFC;
}
.logo-dep {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.margen {
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#mycontainer {
    max-width: 1280px !important;
}
.inputstyle {
    font: sans-serif;
}
input, select, option {
    text-align: center
}
.centro {
    text-align: center
}