.img {
    margin: 10px;
}
.carta {
    background-color: gray;
}
label {
    color: #FDFCFC;
}
div {
    color: #FDFCFC;
}
html {
    overflow-x: scroll;
}
th {
    color: #FDFCFC;
}
td {
    color: #FDFCFC;
}
button {
    color: #FDFCFC;
}
}